body {
    font-family: Arial, sans-serif;
    background: #d1cfea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.morph-text {
    font-size: 52px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: transform 0.4s ease, opaxity 0.4 ease, 
    color 0.6 ease;
    color: #a29bfe;
}

.morph-text.fade-out {
    transform: translateY(-50px) scale(0.85);
    opacity: 0;
}

.morph-text.fade-in {
    transform: translateY(50px) scale(1.15);
    opacity: 1;
}